
@font-face {
  font-family: 'Doves Type';
  src: url('fonts/DovesType-Regular.eot');
  src: url('fonts/DovesType-Regular.eot') format('embedded-opentype'),
    url('fonts/DovesType-Regular.woff2') format('woff2'),
    url('fonts/DovesType-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --bg:       hsl(105, 21%, 100%);
  --fg:       hsl(220, 9%, 19%);
  --lighter:  hsl(220, 9%, 50%);
  --accent:   hsl(9, 96%, 44%);
  --font:     "Doves Type", Georgia, serif;
}

/*
  background:   hsl(105, 21%, 93%)
  text:         hsl(220, 9%, 19%)
  highlights:   hsl(9, 96%, 44%)
*/

/* font */
.shower,
section,
.caption h1,
.slide h2
{
  font-family: var(--font);
  font-weight: normal;
}
p, li {
  font-size: 30px;
  line-height: 1.6;
}

/* bg */
.slide {
  background: var(--bg);
  color: var(--fg);
}

/* colours */
.slide h2,
.slide ul li::before,
.slide ol li::before,
.slide p.note
{
  color: var(--lighter);
}

/* ribbon */
body .slide::after {
  display: none;
}

/* accent */
.slide a {
  color: var(--accent);
  text-decoration: none;
  background: linear-gradient(to top, var(--bg) 5px, var(--accent) 5px, var(--accent) 7px, var(--bg) 7px);
  text-shadow: 1px 1px 0 var(--bg), -1px 1px 0 var(--bg);
}

/* progress */
.progress {
  border-color: var(--accent);
  border-right-color: transparent;
}

/* blockquote */
blockquote {
  padding-left: 20px;
}
.slide blockquote::before {
  margin: -.4em 0 0 -.5em;
  color: var(--lighter);
  content: '«';
  opacity: .5;
}
blockquote + figcaption {
  font-weight: normal;
  margin: auto;
  text-align: right;
}
.slide blockquote li {
  text-indent: inherit;
}

/* misc */
cite {
  background: linear-gradient(to top, var(--bg) 5px, var(--accent) 5px, var(--accent) 7px, var(--bg) 7px);
  text-shadow: 1px 1px 0 var(--bg), -2px 1px 0 var(--bg);
}
u {
  background: linear-gradient(to top, var(--bg) 5px, var(--lighter) 5px, var(--lighter) 7px, var(--bg) 7px);
  text-shadow: 1px 1px 0 var(--bg), -2px 1px 0 var(--bg);
  text-decoration: none;
}
